In [1]:
import sqlalchemy as db
from getpass import getpass

In [2]:
password = getpass("Mysql Password: ")

Mysql Password: ········

In [3]:
dbName = "publications"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [4]:
engine = db.create_engine(connectionData)
print("Connected to server!")

Connected to server!

In [5]:
import pandas as pd

# Challenge1

In [10]:
df = pd.read_sql_query("""
SELECT
    au.au_id AS "AUTHOR ID", 
    au.au_lname AS "LAST NAME", 
    au.au_fname AS "FIRST NAME", 
    t.title AS "TITLE", 
    pub.pub_name AS "PUBLISHER"
FROM authors AS au 
    INNER JOIN titleauthor AS tta ON au.au_id = tta.au_id
    INNER JOIN titles as t ON tta.title_id = t.title_id
    INNER JOIN publishers as pub ON t.pub_id = pub.pub_id;
""", engine)

In [11]:
df

,AUTHOR ID,LAST NAME,FIRST NAME,TITLE,PUBLISHER
0,213-46-8915,Green,Marjorie,The Busy Executive's Database Guide,Algodata Infosystems
1,409-56-7008,Bennet,Abraham,The Busy Executive's Database Guide,Algodata Infosystems
2,267-41-2394,O'Leary,Michael,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
3,724-80-9391,MacFeather,Stearns,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
4,213-46-8915,Green,Marjorie,You Can Combat Computer Stress!,New Moon Books
5,274-80-9391,Straight,Dean,Straight Talk About Computers,Algodata Infosystems
6,712-45-1867,del Castillo,Innes,Silicon Valley Gastronomic Treats,Binnet & Hardley
7,722-51-5454,DeFrance,Michel,The Gourmet Microwave,Binnet & Hardley
8,899-46-2035,Ringer,Anne,The Gourmet Microwave,Binnet & Hardley
9,238-95-7766,Carson,Cheryl,But Is It User Friendly?,Algodata Infosystems
10,427-17-2319,Dull,Ann,Secrets of Silicon Valley,Algodata Infosystems
11,846-92-7186,Hunter,Sheryl,Secrets of Silicon Valley,Algodata Infosystems
12,486-29-1786,Locksley,Charlene,Net Etiquette,Algodata Infosystems
13,724-80-9391,MacFeather,Stearns,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
14,756-30-7391,Karsen,Livia,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
15,899-46-2035,Ringer,Anne,Is Anger the Enemy?,New Moon Books
16,998-72-3567,Ringer,Albert,Is Anger the Enemy?,New Moon Books
17,998-72-3567,Ringer,Albert,Life Without Fear,New Moon Books
18,172-32-1176,White,Johnson,Prolonged Data Deprivation: Four Case Studies,New Moon Books
19,486-29-1786,Locksley,Charlene,Emotional Security: A New Algorithm,New Moon Books
20,807-91-6654,Panteley,Sylvia,"Onions, Leeks, and Garlic: Cooking Secrets of ...",Binnet & Hardley
21,648-92-1872,Blotchet-Halls,Reginald,Fifty Years in Buckingham Palace Kitchens,Binnet & Hardley
22,267-41-2394,O'Leary,Michael,"Sushi, Anyone?",Binnet & Hardley
23,472-27-2349,Gringlesby,Burt,"Sushi, Anyone?",Binnet & Hardley
24,672-71-3249,Yokomoto,Akiko,"Sushi, Anyone?",Binnet & Hardley

# Challenge2

In [33]:
df1 = pd.read_sql_query(""" 
SELECT
	    au.au_id AS "AUTHOR ID", 
        au.au_lname AS "LAST NAME", 
        au.au_fname AS "FIRST NAME", 
        pub.pub_name AS "PUBLISHER", 
        count(*) AS "TITLE COUNT"
FROM authors AS au
	INNER JOIN titleauthor AS tta ON au.au_id = tta.au_id
	INNER JOIN titles AS t ON tta.title_id = t.title_id
	INNER JOIN publishers AS pub ON t.pub_id = pub.pub_id
GROUP BY au.au_id, pub.pub_name;
""", engine)

In [34]:
df1

      AUTHOR ID       LAST NAME FIRST NAME             PUBLISHER  TITLE COUNT
0   213-46-8915           Green   Marjorie        New Moon Books            1
1   899-46-2035          Ringer       Anne        New Moon Books            1
2   998-72-3567          Ringer     Albert        New Moon Books            2
3   172-32-1176           White    Johnson        New Moon Books            1
4   486-29-1786        Locksley   Charlene        New Moon Books            1
5   712-45-1867    del Castillo      Innes      Binnet & Hardley            1
6   722-51-5454        DeFrance     Michel      Binnet & Hardley            1
7   899-46-2035          Ringer       Anne      Binnet & Hardley            1
8   724-80-9391      MacFeather    Stearns      Binnet & Hardley            1
9   756-30-7391          Karsen      Livia      Binnet & Hardley            1
10  807-91-6654        Panteley     Sylvia      Binnet & Hardley            1
11  648-92-1872  Blotchet-Halls   Reginald      Binnet & Hardley            1
12  267-41-2394         O'Leary    Michael      Binnet & Hardley            1
13  472-27-2349      Gringlesby       Burt      Binnet & Hardley            1
14  672-71-3249        Yokomoto      Akiko      Binnet & Hardley            1
15  213-46-8915           Green   Marjorie  Algodata Infosystems            1
16  409-56-7008          Bennet    Abraham  Algodata Infosystems            1
17  267-41-2394         O'Leary    Michael  Algodata Infosystems            1
18  724-80-9391      MacFeather    Stearns  Algodata Infosystems            1
19  274-80-9391        Straight       Dean  Algodata Infosystems            1
20  238-95-7766          Carson     Cheryl  Algodata Infosystems            1
21  427-17-2319            Dull        Ann  Algodata Infosystems            1
22  846-92-7186          Hunter     Sheryl  Algodata Infosystems            1
23  486-29-1786        Locksley   Charlene  Algodata Infosystems            1

# Challenge3

In [37]:
df2 = pd.read_sql_query(""" 
SELECT
		au.au_id AS "AUTHOR ID", 
        au.au_lname AS "LAST NAME", 
        au.au_fname AS "FIRST NAME", 
        SUM(sl.qty) AS "TOTAL"
FROM authors AS au
	INNER JOIN titleauthor AS tta ON au.au_id = tta.au_id
	INNER JOIN titles AS t ON tta.title_id = t.title_id
    LEFT JOIN sales AS sl ON t.title_id = sl.title_id
GROUP BY au.au_id, au.au_lname, au.au_fname
ORDER BY TOTAL DESC
LIMIT 3;
""", engine)

In [38]:
df2

     AUTHOR ID LAST NAME FIRST NAME  TOTAL
0  899-46-2035    Ringer       Anne  148.0
1  998-72-3567    Ringer     Albert  133.0
2  213-46-8915     Green   Marjorie   50.0

# Challenge4

In [43]:
df3 = pd.read_sql_query(""" 
SELECT
		au.au_id AS "AUTHOR ID", 
        au.au_lname AS "LAST NAME", 
        au.au_fname AS "FIRST NAME", 
        IFNULL((SUM(sl.qty)), 0) AS "TOTAL"
FROM authors AS au
	INNER JOIN titleauthor AS tta ON au.au_id = tta.au_id
	INNER JOIN titles AS t ON tta.title_id = t.title_id
    LEFT JOIN sales AS sl ON t.title_id = sl.title_id
GROUP BY au.au_id, au.au_lname, au.au_fname
ORDER BY TOTAL DESC;
""", engine)

In [44]:
df3

      AUTHOR ID       LAST NAME FIRST NAME  TOTAL
0   899-46-2035          Ringer       Anne  148.0
1   998-72-3567          Ringer     Albert  133.0
2   213-46-8915           Green   Marjorie   50.0
3   427-17-2319            Dull        Ann   50.0
4   846-92-7186          Hunter     Sheryl   50.0
5   724-80-9391      MacFeather    Stearns   45.0
6   267-41-2394         O'Leary    Michael   45.0
7   722-51-5454        DeFrance     Michel   40.0
8   807-91-6654        Panteley     Sylvia   40.0
9   238-95-7766          Carson     Cheryl   30.0
10  486-29-1786        Locksley   Charlene   25.0
11  756-30-7391          Karsen      Livia   20.0
12  648-92-1872  Blotchet-Halls   Reginald   20.0
13  472-27-2349      Gringlesby       Burt   20.0
14  672-71-3249        Yokomoto      Akiko   20.0
15  172-32-1176           White    Johnson   15.0
16  409-56-7008          Bennet    Abraham   15.0
17  274-80-9391        Straight       Dean   15.0
18  712-45-1867    del Castillo      Innes   10.0